<!-- Navbar & Hero Start -->
<nav class="navbar navbar-expand-md ">
  <div class="container-fluid">
    <div class="logo">
        <div class="d-flex align-items-center">
          <a href="#" class="navbar-brand">
          <h1 class="text-primary mb-0"><i class="fas fa-hand-rock me-2"></i> Fitness</h1>
          </a>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon">☰</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navebar navbar-nav text-center">
        <li class="nav-item">
          <a routerLink="/users/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/about" routerLinkActive="active" class="nav-item nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/course" routerLinkActive="active" class="nav-item nav-link">Courses</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/team" routerLinkActive="active" class="nav-item nav-link">Our team</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/feature" routerLinkActive="active" class="nav-item nav-link">Our Features</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/pricing" routerLinkActive="active" class="nav-item nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/subscription" routerLinkActive="active" class="nav-item nav-link">Subscription</a>
        </li>
        <li class="nav-item">
          <a routerLink="/users/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/home" class="btn"><i class="fa-solid fa-user-tie"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <!-- Navbar & Hero End -->
