<div class="container-fluid admin-container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="formInput">
        <form [formGroup]="subscriptionForm">
          <h4 class="my-3 text-light">Full Name :</h4>
          <div class="form-group fullname">
            <input
              type="text"
              name="fullname"
              id="nametext"
              formControlName="fullname"
              class="form-control my-3"
              placeholder="Full Name"
            />
          </div>
          <div class="container-form">
            <div class="form-group">
              <h4 class="my-3 text-light">Email :</h4>
              <input
                type="email"
                name="email"
                id="emailtext"
                formControlName="email"
                class="form-control my-3"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <h4 class="my-3 text-light">phone :</h4>
              <input
                type="text"
                name="phone"
                id="phonetext"
                formControlName="phone"
                class="form-control my-3"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="container-form">
            <div class="form-group">
              <h4 class="my-3 text-light">Beg of subscriptions</h4>
              <input
                type="text"
                name="date"
                id="date_beg_text"
                formControlName="beg_subscription"
                class="form-control my-3"
                placeholder="Beging of subscription"
              />
            </div>
            <div class="form-group">
              <h4 class="my-3 text-light">End of subscriptions</h4>
              <input
                type="text"
                name="date"
                id="date_end_text"
                formControlName="end_subscription"
                class="form-control my-3"
                placeholder="End of subscription"
                readonly
              />
            </div>
            <div class="form-group">
              <h4 class="my-3 text-light">Date of Birth :</h4>
              <input
                type="text"
                name="date"
                id="birthtext"
                formControlName="birth"
                class="form-control my-3"
                placeholder="Date of Birth"
              />
            </div>
            <div class="genderradio">
              <h4 class="my-3 text-light">Gender :</h4>
              <div class="genderform d-flex">
                <div class="form-check me-3 my-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="male"
                    value="male"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check my-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gender"
                    id="female"
                    value="Female"
                    formControlName="gender"
                  />
                  <label class="form-check-label" for="Female">Female</label>
                </div>
              </div>
            </div>
          </div>
          <div class="container-form">
            <div class="selectForm">
              <select class="form-select" formControlName="city">
                <option disabled selected value="">Chosse city</option>
                <option value="Cairo">Cairo</option>
                <option value="Alex">Alex</option>
                <option value="Giza">Giza</option>
                <option value="Luxor">Luxor</option>
                <option value="Assiut">Assiut</option>
              </select>
            </div>
            <div class="form-group">
              <input
                type="text"
                name="address"
                id="addresstext"
                formControlName="address"
                class="form-control"
                placeholder="Address"
              />
            </div>
          </div>
          <div class="form-check my-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="checkChecked"
              checked
            />
            <label class="form-check-label text-light" for="checkChecked"
              >I agree to abide by the gym's rules and regulations.</label
            >
          </div>
          <div class="d-grid mb-3">
            <button (click)="update()" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
